/*
Using formula solid
$primary: #F7BD2A  ;
$home: #F8F8F9  ;
$away: #ff0000  ;
$cl: #FFFFFF  ;
$base: #131313 ;
*/
/*
    Enable dark or light logo based on base color
*/
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin,latin-ext") ;
.sr-bb {
  font-family: "Roboto", "Noto", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important ;
  text-align: left !important ;
  background: #131313 !important ;
}

.sr-bb.sr-rtl {
  text-align: right !important ;
}

.sr-bb .sr-bb {
  background: none !important ;
}

.sr-bb .srt-base-1 {
  background-color: transparent !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-win {
  background-color: transparent !important ;
  color: #F8F8F9 !important ;
  border-color: #F8F8F9 !important ;
}

.sr-bb .srt-base-1-draw {
  background-color: transparent !important ;
  color: rgba(255, 255, 255, 0.4) !important ;
  border-color: rgba(255, 255, 255, 0.4) !important ;
}

.sr-bb .srt-base-1-lose {
  background-color: transparent !important ;
  color: #ff0000 !important ;
  border-color: #ff0000 !important ;
}

.sr-bb .srt-base-1-is-active {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-is-active-2 {
  background-color: #2b2b2b !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-is-hoverable:hover {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-primary {
  background-color: transparent !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-home-1 {
  background-color: transparent !important ;
  color: #F8F8F9 !important ;
  border-color: #F8F8F9 !important ;
}

.sr-bb .srt-base-1-away-1 {
  background-color: transparent !important ;
  color: #ff0000 !important ;
  border-color: #ff0000 !important ;
}

.sr-bb .srt-base-1-home-2 {
  background-color: transparent !important ;
  color: #F8F8F9 !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-base-1-away-2 {
  background-color: transparent !important ;
  color: #ff0000 !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-base-1-home-3 {
  background-color: transparent !important ;
  color: #F8F8F9 !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-away-3 {
  background-color: transparent !important ;
  color: #ff0000 !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-home-4 {
  background-color: transparent !important ;
  color: #b3b3b4 !important ;
  border-color: #b3b3b4 !important ;
}

.sr-bb .srt-base-1-away-4 {
  background-color: transparent !important ;
  color: #b80606 !important ;
  border-color: #b80606 !important ;
}

.sr-bb .srt-base-1-home-5 {
  background-color: transparent !important ;
  color: #fafafb !important ;
  border-color: #fafafb !important ;
}

.sr-bb .srt-base-1-away-5 {
  background-color: transparent !important ;
  color: #ff5959 !important ;
  border-color: #ff5959 !important ;
}

.sr-bb .srt-base-1-background {
  background-color: #131313 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-2 {
  background-color: #131313 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-2-is-active {
  background-color: #2e2716 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-2-is-hoverable:hover {
  background-color: #2e2716 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-3 {
  background-color: #2e2716 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-3-is-active {
  background-color: #3a3017 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-3-is-hoverable:hover {
  background-color: #3a3017 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-3-background {
  background-color: #131313 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-4 {
  background-color: #1e1c14 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-5-is-active {
  background-color: #4e3f19 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-5-is-hoverable:hover {
  background-color: #4e3f19 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-6 {
  background-color: transparent !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.3) !important ;
}

.sr-bb .srt-primary-1 {
  background-color: #F7BD2A !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-1-is-active {
  background-color: #deaa26 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-1-is-hoverable:hover {
  background-color: #deaa26 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-1-is-disabled {
  background-color: #c69722 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-2 {
  background-color: #f9d16a !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-3 {
  background-color: #deaa26 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-4 {
  background-color: #9c7921 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-5 {
  background-color: #9c7921 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-5-is-hoverable:hover {
  background-color: #F7BD2A !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-6 {
  background-color: #fad983 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-7 {
  background-color: #F7BD2A !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-8 {
  background-color: #F7BD2A !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-8-is-active-1 {
  background-color: #deaa26 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-8-is-active-2 {
  background-color: #deaa26 !important ;
  color: #000000 !important ;
  border-color: #131313 !important ;
}

.sr-bb .srt-primary-9 {
  background-color: #57461a !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-primary-10 {
  background-color: #c99b25 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-11 {
  background-color: #deaa26 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-primary-12 {
  background-color: #F7BD2A !important ;
  color: #000000 !important ;
  border-color: #000000 !important ;
}

.sr-bb .srt-primary-13 {
  background-color: #1e1c14 !important ;
  color: #000000 !important ;
  border-color: rgba(247, 189, 42, 0.3) !important ;
}

.sr-bb .srt-base-1-primary-1 {
  background-color: transparent !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-primary-2 {
  background-color: transparent !important ;
  color: #f9d16a !important ;
  border-color: #f9d16a !important ;
}

.sr-bb .srt-base-1-primary-3 {
  background-color: transparent !important ;
  color: #deaa26 !important ;
  border-color: #deaa26 !important ;
}

.sr-bb .srt-base-1-primary-4 {
  background-color: transparent !important ;
  color: #9c7921 !important ;
  border-color: #9c7921 !important ;
}

.sr-bb .srt-base-1-primary-5 {
  background-color: transparent !important ;
  color: #9c7921 !important ;
  border-color: #9c7921 !important ;
}

.sr-bb .srt-base-1-primary-6 {
  background-color: transparent !important ;
  color: #fad983 !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-base-1-primary-7 {
  background-color: transparent !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-primary-8 {
  background-color: transparent !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-primary-9 {
  background-color: transparent !important ;
  color: #57461a !important ;
  border-color: #57461a !important ;
}

.sr-bb .srt-base-1-primary-10 {
  background-color: transparent !important ;
  color: #c99b25 !important ;
  border-color: #c99b25 !important ;
}

.sr-bb .srt-base-1-primary-11 {
  background-color: transparent !important ;
  color: #deaa26 !important ;
  border-color: #deaa26 !important ;
}

.sr-bb .srt-base-1-primary-13 {
  background-color: #131313 !important ;
  color: #1e1c14 !important ;
  border-color: rgba(247, 189, 42, 0.3) !important ;
}

.sr-bb .srt-base-1-neutral-1 {
  background-color: transparent !important ;
  color: #323232 !important ;
  border-color: #323232 !important ;
}

.sr-bb .srt-base-1-neutral-2 {
  background-color: transparent !important ;
  color: #e7e7e7 !important ;
  border-color: #e7e7e7 !important ;
}

.sr-bb .srt-base-1-neutral-3 {
  background-color: transparent !important ;
  color: rgba(255, 255, 255, 0.12) !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-neutral-4 {
  background-color: transparent !important ;
  color: #acacac !important ;
  border-color: #acacac !important ;
}

.sr-bb .srt-base-1-neutral-5 {
  background-color: transparent !important ;
  color: #c4c4c4 !important ;
  border-color: #c4c4c4 !important ;
}

.sr-bb .srt-base-1-neutral-6 {
  background-color: transparent !important ;
  color: #4c4c4c !important ;
  border-color: #4c4c4c !important ;
}

.sr-bb .srt-base-1-neutral-7 {
  background-color: transparent !important ;
  color: #acacac !important ;
  border-color: #acacac !important ;
}

.sr-bb .srt-base-1-neutral-8 {
  background-color: transparent !important ;
  color: #323232 !important ;
  border-color: #323232 !important ;
}

.sr-bb .srt-base-1-neutral-9 {
  background-color: transparent !important ;
  color: #212121 !important ;
  border-color: #212121 !important ;
}

.sr-bb .srt-base-1-neutral-10 {
  background-color: transparent !important ;
  color: #2f2f2f !important ;
  border-color: #2f2f2f !important ;
}

.sr-bb .srt-base-1-neutral-11 {
  background-color: transparent !important ;
  color: #717171 !important ;
  border-color: #717171 !important ;
}

.sr-bb .srt-base-1-neutral-12 {
  background-color: transparent !important ;
  color: #b8b8b8 !important ;
  border-color: #b8b8b8 !important ;
}

.sr-bb .srt-base-1-neutral-13 {
  background-color: transparent !important ;
  color: #2b2b2b !important ;
  border-color: #2b2b2b !important ;
}

.sr-bb .srt-base-1-is-active-primary {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-is-active-home-1 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #F8F8F9 !important ;
  border-color: #F8F8F9 !important ;
}

.sr-bb .srt-base-1-is-active-away-1 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #ff0000 !important ;
  border-color: #ff0000 !important ;
}

.sr-bb .srt-base-1-is-active-home-2 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #F8F8F9 !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-base-1-is-active-away-2 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #ff0000 !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-base-1-is-active-home-3 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #F8F8F9 !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-is-active-away-3 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #ff0000 !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-is-active-home-4 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #b3b3b4 !important ;
  border-color: #b3b3b4 !important ;
}

.sr-bb .srt-base-1-is-active-away-4 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #b80606 !important ;
  border-color: #b80606 !important ;
}

.sr-bb .srt-base-1-is-active-home-5 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #fafafb !important ;
  border-color: #fafafb !important ;
}

.sr-bb .srt-base-1-is-active-away-5 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #ff5959 !important ;
  border-color: #ff5959 !important ;
}

.sr-bb .srt-base-1-is-active-primary-1 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-is-active-primary-2 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #f9d16a !important ;
  border-color: #f9d16a !important ;
}

.sr-bb .srt-base-1-is-active-primary-3 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #deaa26 !important ;
  border-color: #deaa26 !important ;
}

.sr-bb .srt-base-1-is-active-primary-4 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #9c7921 !important ;
  border-color: #9c7921 !important ;
}

.sr-bb .srt-base-1-is-active-primary-5 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #9c7921 !important ;
  border-color: #9c7921 !important ;
}

.sr-bb .srt-base-1-is-active-primary-6 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #fad983 !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-base-1-is-active-primary-7 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-is-active-primary-8 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #F7BD2A !important ;
  border-color: #F7BD2A !important ;
}

.sr-bb .srt-base-1-is-active-primary-9 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #57461a !important ;
  border-color: #57461a !important ;
}

.sr-bb .srt-base-1-is-active-primary-10 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #c99b25 !important ;
  border-color: #c99b25 !important ;
}

.sr-bb .srt-base-1-is-active-primary-11 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #deaa26 !important ;
  border-color: #deaa26 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-1 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #323232 !important ;
  border-color: #323232 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-2 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #e7e7e7 !important ;
  border-color: #e7e7e7 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-3 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: rgba(255, 255, 255, 0.12) !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-base-1-is-active-neutral-4 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #acacac !important ;
  border-color: #acacac !important ;
}

.sr-bb .srt-base-1-is-active-neutral-5 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #c4c4c4 !important ;
  border-color: #c4c4c4 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-6 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #4c4c4c !important ;
  border-color: #4c4c4c !important ;
}

.sr-bb .srt-base-1-is-active-neutral-7 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #acacac !important ;
  border-color: #acacac !important ;
}

.sr-bb .srt-base-1-is-active-neutral-8 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #323232 !important ;
  border-color: #323232 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-9 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #212121 !important ;
  border-color: #212121 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-10 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #2f2f2f !important ;
  border-color: #2f2f2f !important ;
}

.sr-bb .srt-base-1-is-active-neutral-11 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #717171 !important ;
  border-color: #717171 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-12 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #b8b8b8 !important ;
  border-color: #b8b8b8 !important ;
}

.sr-bb .srt-base-1-is-active-neutral-13 {
  background-color: rgba(247, 189, 42, 0.12) !important ;
  color: #2b2b2b !important ;
  border-color: #2b2b2b !important ;
}

.sr-bb .srt-home-1 {
  background-color: #1E581D !important ;
  color: #000000 !important ;
  border-color: #F8F8F9 !important ;
}

.sr-bb .srt-away-1 {
  background-color: #812929 !important ;
  color: #ffffff !important ;
  border-color: #ff0000 !important ;
}

.sr-bb .srt-home-2 {
  background-color: #F8F8F9 !important ;
  color: #000000 !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-away-2 {
  background-color: #ff0000 !important ;
  color: #ffffff !important ;
  border-color: #fad983 !important ;
}

.sr-bb .srt-home-3 {
  background-color: #F8F8F9 !important ;
  color: #000000 !important ;
  border-color: #131313 !important ;
}

.sr-bb .srt-away-3 {
  background-color: #ff0000 !important ;
  color: #ffffff !important ;
  border-color: #131313 !important ;
}

.sr-bb .srt-home-4 {
  background-color: #b3b3b4 !important ;
  color: #000000 !important ;
  border-color: #b3b3b4 !important ;
}

.sr-bb .srt-away-4 {
  background-color: #b80606 !important ;
  color: #ffffff !important ;
  border-color: #b80606 !important ;
}

.sr-bb .srt-home-5 {
  background-color: #fafafb !important ;
  color: #000000 !important ;
  border-color: #fafafb !important ;
}

.sr-bb .srt-away-5 {
  background-color: #ff5959 !important ;
  color: #ffffff !important ;
  border-color: #ff5959 !important ;
}

.sr-bb .srt-home-6 {
  background-color: rgba(248, 248, 249, 0.2) !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-away-6 {
  background-color: rgba(255, 0, 0, 0.2) !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-home-6-is-hoverable:hover {
  background-color: rgba(248, 248, 249, 0.2) !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-away-6-is-hoverable:hover {
  background-color: rgba(255, 0, 0, 0.2) !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-1 {
  background-color: #323232 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-2 {
  background-color: #e7e7e7 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-neutral-3 {
  background-color: rgba(255, 255, 255, 0.12) !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-4 {
  background-color: #acacac !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-neutral-5 {
  background-color: #c4c4c4 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-neutral-6 {
  background-color: #4c4c4c !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-7 {
  background-color: #acacac !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-neutral-8 {
  background-color: #323232 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-9 {
  background-color: #212121 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-10 {
  background-color: #2f2f2f !important ;
  color: rgba(255, 255, 255, 0.82) !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-11 {
  background-color: #717171 !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-neutral-12 {
  background-color: #b8b8b8 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-neutral-13 {
  background-color: #2b2b2b !important ;
  color: #FFFFFF !important ;
  border-color: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-win {
  background-color: #F8F8F9 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-draw {
  background-color: rgba(255, 255, 255, 0.4) !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-lose {
  background-color: #ff0000 !important ;
  color: #ffffff !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-text-secondary {
  opacity: 0.8 !important ;
  -webkit-font-smoothing: antialiased !important ;
}

.sr-bb .srt-text-disabled {
  opacity: 0.6 !important ;
}

.sr-bb .srt-text-tertiary {
  opacity: 0.7 !important ;
}

.sr-bb .srt-primary-1 .srt-text-secondary, .sr-bb .srt-primary-1.srt-text-secondary,
.sr-bb .srt-primary-1-is-active .srt-text-secondary,
.sr-bb .srt-primary-1-is-active.srt-text-secondary,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-secondary,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-secondary,
.sr-bb .srt-primary-1-is-disabled .srt-text-secondary,
.sr-bb .srt-primary-1-is-disabled.srt-text-secondary,
.sr-bb .srt-primary-2 .srt-text-secondary,
.sr-bb .srt-primary-2.srt-text-secondary,
.sr-bb .srt-primary-3 .srt-text-secondary,
.sr-bb .srt-primary-3.srt-text-secondary,
.sr-bb .srt-primary-4 .srt-text-secondary,
.sr-bb .srt-primary-4.srt-text-secondary,
.sr-bb .srt-primary-5 .srt-text-secondary,
.sr-bb .srt-primary-5.srt-text-secondary,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-secondary,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-secondary,
.sr-bb .srt-primary-6 .srt-text-secondary,
.sr-bb .srt-primary-6.srt-text-secondary,
.sr-bb .srt-primary-7 .srt-text-secondary,
.sr-bb .srt-primary-7.srt-text-secondary,
.sr-bb .srt-primary-8 .srt-text-secondary,
.sr-bb .srt-primary-8.srt-text-secondary,
.sr-bb .srt-primary-8-is-active-1 .srt-text-secondary,
.sr-bb .srt-primary-8-is-active-1.srt-text-secondary,
.sr-bb .srt-primary-8-is-active-2 .srt-text-secondary,
.sr-bb .srt-primary-8-is-active-2.srt-text-secondary,
.sr-bb .srt-primary-9 .srt-text-secondary,
.sr-bb .srt-primary-9.srt-text-secondary,
.sr-bb .srt-primary-10 .srt-text-secondary,
.sr-bb .srt-primary-10.srt-text-secondary,
.sr-bb .srt-primary-11 .srt-text-secondary,
.sr-bb .srt-primary-11.srt-text-secondary,
.sr-bb .srt-primary-12 .srt-text-secondary,
.sr-bb .srt-primary-12.srt-text-secondary,
.sr-bb .srt-primary-13 .srt-text-secondary,
.sr-bb .srt-primary-13.srt-text-secondary {
  opacity: 0.7 !important ;
  -webkit-font-smoothing: antialiased !important ;
}

.sr-bb .srt-primary-1 .srt-text-disabled, .sr-bb .srt-primary-1.srt-text-disabled,
.sr-bb .srt-primary-1-is-active .srt-text-disabled,
.sr-bb .srt-primary-1-is-active.srt-text-disabled,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-disabled,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-disabled,
.sr-bb .srt-primary-1-is-disabled .srt-text-disabled,
.sr-bb .srt-primary-1-is-disabled.srt-text-disabled,
.sr-bb .srt-primary-2 .srt-text-disabled,
.sr-bb .srt-primary-2.srt-text-disabled,
.sr-bb .srt-primary-3 .srt-text-disabled,
.sr-bb .srt-primary-3.srt-text-disabled,
.sr-bb .srt-primary-4 .srt-text-disabled,
.sr-bb .srt-primary-4.srt-text-disabled,
.sr-bb .srt-primary-5 .srt-text-disabled,
.sr-bb .srt-primary-5.srt-text-disabled,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-disabled,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-disabled,
.sr-bb .srt-primary-6 .srt-text-disabled,
.sr-bb .srt-primary-6.srt-text-disabled,
.sr-bb .srt-primary-7 .srt-text-disabled,
.sr-bb .srt-primary-7.srt-text-disabled,
.sr-bb .srt-primary-8 .srt-text-disabled,
.sr-bb .srt-primary-8.srt-text-disabled,
.sr-bb .srt-primary-8-is-active-1 .srt-text-disabled,
.sr-bb .srt-primary-8-is-active-1.srt-text-disabled,
.sr-bb .srt-primary-8-is-active-2 .srt-text-disabled,
.sr-bb .srt-primary-8-is-active-2.srt-text-disabled,
.sr-bb .srt-primary-9 .srt-text-disabled,
.sr-bb .srt-primary-9.srt-text-disabled,
.sr-bb .srt-primary-10 .srt-text-disabled,
.sr-bb .srt-primary-10.srt-text-disabled,
.sr-bb .srt-primary-11 .srt-text-disabled,
.sr-bb .srt-primary-11.srt-text-disabled,
.sr-bb .srt-primary-12 .srt-text-disabled,
.sr-bb .srt-primary-12.srt-text-disabled,
.sr-bb .srt-primary-13 .srt-text-disabled,
.sr-bb .srt-primary-13.srt-text-disabled {
  opacity: 0.35 !important ;
}

.sr-bb .srt-primary-1 .srt-text-tertiary, .sr-bb .srt-primary-1.srt-text-tertiary,
.sr-bb .srt-primary-1-is-active .srt-text-tertiary,
.sr-bb .srt-primary-1-is-active.srt-text-tertiary,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-tertiary,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-tertiary,
.sr-bb .srt-primary-1-is-disabled .srt-text-tertiary,
.sr-bb .srt-primary-1-is-disabled.srt-text-tertiary,
.sr-bb .srt-primary-2 .srt-text-tertiary,
.sr-bb .srt-primary-2.srt-text-tertiary,
.sr-bb .srt-primary-3 .srt-text-tertiary,
.sr-bb .srt-primary-3.srt-text-tertiary,
.sr-bb .srt-primary-4 .srt-text-tertiary,
.sr-bb .srt-primary-4.srt-text-tertiary,
.sr-bb .srt-primary-5 .srt-text-tertiary,
.sr-bb .srt-primary-5.srt-text-tertiary,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-tertiary,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-tertiary,
.sr-bb .srt-primary-6 .srt-text-tertiary,
.sr-bb .srt-primary-6.srt-text-tertiary,
.sr-bb .srt-primary-7 .srt-text-tertiary,
.sr-bb .srt-primary-7.srt-text-tertiary,
.sr-bb .srt-primary-8 .srt-text-tertiary,
.sr-bb .srt-primary-8.srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-1 .srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-1.srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-2 .srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-2.srt-text-tertiary,
.sr-bb .srt-primary-9 .srt-text-tertiary,
.sr-bb .srt-primary-9.srt-text-tertiary,
.sr-bb .srt-primary-10 .srt-text-tertiary,
.sr-bb .srt-primary-10.srt-text-tertiary,
.sr-bb .srt-primary-11 .srt-text-tertiary,
.sr-bb .srt-primary-11.srt-text-tertiary,
.sr-bb .srt-primary-12 .srt-text-tertiary,
.sr-bb .srt-primary-12.srt-text-tertiary,
.sr-bb .srt-primary-13 .srt-text-tertiary,
.sr-bb .srt-primary-13.srt-text-tertiary {
  opacity: 0.54 !important ;
}

.sr-bb .srt-icon {
  opacity: 0.33 !important ;
}

.sr-bb .srt-icon-secondary {
  opacity: 0.7 !important ;
}

.sr-bb .srt-elevation-1 {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.1) !important ;
}

.sr-bb .srt-elevation-2 {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23), 0px 3px 6px 0px rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-elevation-3 {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.26), 0px 10px 20px 0px rgba(0, 0, 0, 0.19) !important ;
}

.sr-bb .srt-elevation-center-2 {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23), 0 1px 5px rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-inset-top-1 {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.23) !important ;
}

.sr-bb .srt-inset-bottom-1 {
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.23) !important ;
}

.sr-bb .srt-inset-top-2 {
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.23) !important ;
}

.sr-bb .srt-inset-bottom-2 {
  box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.23) !important ;
}

.sr-bb .srt-inset-top-3 {
  box-shadow: inset 0 6px 6px 0 rgba(0, 0, 0, 0.23) !important ;
}

.sr-bb .srt-inset-bottom-3 {
  box-shadow: inset 0 -6px 6px 0 rgba(0, 0, 0, 0.23) !important ;
}

.sr-bb .srt-fill-blue-card {
  fill: #2579ad !important ;
}

.sr-bb .srt-stroke-blue-card {
  stroke: #2579ad !important ;
}

.sr-bb .srt-fill-soccer-yellow-card {
  fill: #ffbf00 !important ;
}

.sr-bb .srt-stroke-soccer-yellow-card {
  stroke: #ffbf00 !important ;
}

.sr-bb .srt-fill-soccer-red-card {
  fill: #e43b3b !important ;
}

.sr-bb .srt-stroke-soccer-red-card {
  stroke: #e43b3b !important ;
}

.sr-bb .srt-stroke-soccer-substitution-in {
  stroke: #4fbe30 !important ;
  fill: transparent !important ;
}

.sr-bb .srt-fill-soccer-substitution-in {
  fill: #4fbe30 !important ;
}

.sr-bb .srt-stroke-soccer-substitution-out {
  stroke: #e43b3b !important ;
  fill: transparent !important ;
}

.sr-bb .srt-fill-soccer-substitution-out {
  fill: #e43b3b !important ;
}

.sr-bb .srt-stroke-soccer-own-goal {
  stroke: #e43b3b !important ;
  fill: transparent !important ;
}

.sr-bb .srt-fill-soccer-own-goal {
  fill: #e43b3b !important ;
}

.sr-bb .srt-fill-soccer-relegation-1 {
  fill: #fdd835 !important ;
}

.sr-bb .srt-stroke-soccer-relegation-1 {
  stroke: #fdd835 !important ;
}

.sr-bb .srt-fill-soccer-relegation-2 {
  fill: #ffb848 !important ;
}

.sr-bb .srt-stroke-soccer-relegation-2 {
  stroke: #ffb848 !important ;
}

.sr-bb .srt-fill-soccer-relegation-3 {
  fill: #ef6c00 !important ;
}

.sr-bb .srt-stroke-soccer-relegation-3 {
  stroke: #ef6c00 !important ;
}

.sr-bb .srt-fill-soccer-relegation-4 {
  fill: #e93a34 !important ;
}

.sr-bb .srt-stroke-soccer-relegation-4 {
  stroke: #e93a34 !important ;
}

.sr-bb .srt-fill-soccer-relegation-5 {
  fill: #941d1d !important ;
}

.sr-bb .srt-stroke-soccer-relegation-5 {
  stroke: #941d1d !important ;
}

.sr-bb .srt-fill-soccer-promotion-1 {
  fill: #51d151 !important ;
}

.sr-bb .srt-stroke-soccer-promotion-1 {
  stroke: #51d151 !important ;
}

.sr-bb .srt-fill-soccer-promotion-2 {
  fill: #1b911b !important ;
}

.sr-bb .srt-stroke-soccer-promotion-2 {
  stroke: #1b911b !important ;
}

.sr-bb .srt-fill-soccer-promotion-3 {
  fill: #0e8094 !important ;
}

.sr-bb .srt-stroke-soccer-promotion-3 {
  stroke: #0e8094 !important ;
}

.sr-bb .srt-fill-soccer-promotion-4 {
  fill: #0a6cce !important ;
}

.sr-bb .srt-stroke-soccer-promotion-4 {
  stroke: #0a6cce !important ;
}

.sr-bb .srt-fill-soccer-promotion-5 {
  fill: #4a9fe4 !important ;
}

.sr-bb .srt-stroke-soccer-promotion-5 {
  stroke: #4a9fe4 !important ;
}

.sr-bb .srt-nfl-timeout-1 {
  background-color: #f5a623 !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-nfl-timeout-2 {
  background-color: rgba(245, 166, 35, 0.3) !important ;
  color: #000000 !important ;
  border-color: rgba(0, 0, 0, 0.16) !important ;
}

.sr-bb .srt-nfl-penalty {
  background-color: #f4a621 !important ;
  color: #000000 !important ;
  border-color: #f4a621 !important ;
}

.sr-bb .srt-nfl-negative-yards-1 {
  background-color: #ac182e !important ;
  color: #000000 !important ;
  border-color: #ac182e !important ;
}

.sr-bb .srt-nfl-negative-yards-2 {
  background-color: #ac182e !important ;
  color: #000000 !important ;
  border-color: #ac182e !important ;
}

.sr-bb .srt-nfl-first-line {
  background-color: #4b90de !important ;
  color: #000000 !important ;
  border-color: #4b90de !important ;
}

.sr-bb .srt-nfl-ten-line {
  background-color: #f5a623 !important ;
  color: #000000 !important ;
  border-color: #f5a623 !important ;
}

.sr-bb .srt-fill-nfl-penalty {
  fill: #f4a621 !important ;
}

.sr-bb .srt-stroke-nfl-penalty {
  stroke: #f4a621 !important ;
}

.sr-bb .srt-fill-nfl-negative-yards-1 {
  fill: #ac182e !important ;
}

.sr-bb .srt-stroke-nfl-negative-yards-1 {
  stroke: #ac182e !important ;
}

.sr-bb .srt-fill-nfl-negative-yards-2 {
  fill: #ac182e !important ;
}

.sr-bb .srt-stroke-nfl-negative-yards-2 {
  stroke: #ac182e !important ;
}

.sr-bb .srt-fill-nfl-first-line {
  fill: #4b90de !important ;
}

.sr-bb .srt-stroke-nfl-first-line {
  stroke: #4b90de !important ;
}

.sr-bb .srt-fill-nfl-ten-line {
  fill: #f5a623 !important ;
}

.sr-bb .srt-stroke-nfl-ten-line {
  stroke: #f5a623 !important ;
}

.sr-bb .srt-mlb-run-1 {
  background-color: #009900 !important ;
  color: #ffffff !important ;
  border-color: #009900 !important ;
}

.sr-bb .srt-mlb-run-2 {
  background-color: #ffffff !important ;
  color: #009900 !important ;
  border-color: #009900 !important ;
}

.sr-bb .srt-mlb-hit-1 {
  background-color: #f7ab11 !important ;
  color: #FFFFFF !important ;
  border-color: #f7ab11 !important ;
}

.sr-bb .srt-mlb-hit-2 {
  background-color: #ffffff !important ;
  color: #f7ab11 !important ;
  border-color: #f7ab11 !important ;
}

.sr-bb .srt-mlb-hit-3 {
  background-color: #00a4ff !important ;
  color: #ffffff !important ;
  border-color: #00a4ff !important ;
}

.sr-bb .srt-mlb-error-1 {
  background-color: #d0021b !important ;
  color: #ffffff !important ;
  border-color: #d0021b !important ;
}

.sr-bb .srt-mlb-error-2 {
  background-color: #ffffff !important ;
  color: #d0021b !important ;
  border-color: #d0021b !important ;
}

.sr-bb .srt-mlb-neutral-1 {
  background-color: #212121 !important ;
  color: #ffffff !important ;
  border-color: #ffffff !important ;
}

.sr-bb .srt-fill-mlb-base {
  fill: #00a4ff !important ;
}

.sr-bb .srt-strole-mlb-base {
  fill: #00a4ff !important ;
}

.sr-bb .srt-fill-change-increase {
  fill: #F8F8F9 !important ;
}

.sr-bb .srt-stroke-change-increase {
  stroke: #F8F8F9 !important ;
}

.sr-bb .srt-fill-change-decrease {
  fill: #ff0000 !important ;
}

.sr-bb .srt-stroke-change-decrease {
  stroke: #ff0000 !important ;
}

.sr-bb .srt-fill-text {
  fill: #FFFFFF !important ;
}

.sr-bb .srt-fill-text-invert {
  fill: #000000 !important ;
}

.sr-bb .srt-fill-text-secondary {
  fill-opacity: 0.8 !important ;
}

.sr-bb .srt-fill-text-disabled {
  fill-opacity: 0.6 !important ;
}

.sr-bb .srt-fill-base-1 {
  fill: transparent !important ;
}

.sr-bb .srt-stroke-base-1 {
  stroke: transparent !important ;
}

.sr-bb .srt-fill-base-1-active {
  fill: rgba(247, 189, 42, 0.12) !important ;
}

.sr-bb .srt-stroke-base-1-active {
  stroke: rgba(247, 189, 42, 0.12) !important ;
}

.sr-bb .srt-fill-base-1-active-2 {
  fill: #2b2b2b !important ;
}

.sr-bb .srt-stroke-base-1-active-2 {
  stroke: #2b2b2b !important ;
}

.sr-bb .srt-fill-base-1-primary {
  fill: transparent !important ;
}

.sr-bb .srt-stroke-base-1-primary {
  stroke: transparent !important ;
}

.sr-bb .srt-fill-base-1-home {
  fill: transparent !important ;
}

.sr-bb .srt-stroke-base-1-home {
  stroke: transparent !important ;
}

.sr-bb .srt-fill-base-1-away {
  fill: transparent !important ;
}

.sr-bb .srt-stroke-base-1-away {
  stroke: transparent !important ;
}

.sr-bb .srt-fill-base-2 {
  fill: currentColor !important ;
}

.sr-bb .srt-stroke-base-2 {
  stroke: currentColor !important ;
}

.sr-bb .srt-fill-base-2-active {
  fill: #2e2716 !important ;
}

.sr-bb .srt-stroke-base-2-active {
  stroke: #2e2716 !important ;
}

.sr-bb .srt-fill-base-2-hover {
  fill: #2e2716 !important ;
}

.sr-bb .srt-stroke-base-2-hover {
  stroke: #2e2716 !important ;
}

.sr-bb .srt-fill-base-3 {
  fill: #2e2716 !important ;
}

.sr-bb .srt-stroke-base-3 {
  stroke: #2e2716 !important ;
}

.sr-bb .srt-fill-base-3-active {
  fill: #3a3017 !important ;
}

.sr-bb .srt-stroke-base-3-active {
  stroke: #3a3017 !important ;
}

.sr-bb .srt-fill-base-3-hover {
  fill: #3a3017 !important ;
}

.sr-bb .srt-stroke-base-3-hover {
  stroke: #3a3017 !important ;
}

.sr-bb .srt-fill-primary-1 {
  fill: #F7BD2A !important ;
}

.sr-bb .srt-stroke-primary-1 {
  stroke: #F7BD2A !important ;
}

.sr-bb .srt-fill-primary-2 {
  fill: #f9d16a !important ;
}

.sr-bb .srt-stroke-primary-2 {
  stroke: #f9d16a !important ;
}

.sr-bb .srt-fill-primary-3 {
  fill: #deaa26 !important ;
}

.sr-bb .srt-stroke-primary-3 {
  stroke: #deaa26 !important ;
}

.sr-bb .srt-fill-primary-4 {
  fill: #9c7921 !important ;
}

.sr-bb .srt-stroke-primary-4 {
  stroke: #9c7921 !important ;
}

.sr-bb .srt-fill-primary-5 {
  fill: #9c7921 !important ;
}

.sr-bb .srt-stroke-primary-5 {
  stroke: #9c7921 !important ;
}

.sr-bb .srt-fill-primary-6 {
  fill: #fad983 !important ;
}

.sr-bb .srt-stroke-primary-6 {
  stroke: #fad983 !important ;
}

.sr-bb .srt-fill-primary-7 {
  fill: #F7BD2A !important ;
}

.sr-bb .srt-stroke-primary-7 {
  stroke: #F7BD2A !important ;
}

.sr-bb .srt-fill-primary-8 {
  fill: #F7BD2A !important ;
}

.sr-bb .srt-stroke-primary-8 {
  stroke: #F7BD2A !important ;
}

.sr-bb .srt-fill-primary-8-is-active-1 {
  fill: #deaa26 !important ;
}

.sr-bb .srt-stroke-primary-8-is-active-1 {
  stroke: #deaa26 !important ;
}

.sr-bb .srt-fill-primary-8-is-active-2 {
  fill: #deaa26 !important ;
}

.sr-bb .srt-stroke-primary-8-is-active-2 {
  stroke: #deaa26 !important ;
}

.sr-bb .srt-fill-primary-9 {
  fill: #57461a !important ;
}

.sr-bb .srt-stroke-primary-9 {
  stroke: #57461a !important ;
}

.sr-bb .srt-fill-primary-10 {
  fill: #c99b25 !important ;
}

.sr-bb .srt-stroke-primary-10 {
  stroke: #c99b25 !important ;
}

.sr-bb .srt-fill-primary-11 {
  fill: #deaa26 !important ;
}

.sr-bb .srt-stroke-primary-11 {
  stroke: #deaa26 !important ;
}

.sr-bb .srt-fill-primary-12 {
  fill: #F7BD2A !important ;
}

.sr-bb .srt-stroke-primary-12 {
  stroke: #F7BD2A !important ;
}

.sr-bb .srt-fill-home-1 {
  fill: #F8F8F9 !important ;
}

.sr-bb .srt-stroke-home-1 {
  stroke: #F8F8F9 !important ;
}

.sr-bb .srt-fill-home-2 {
  fill: #F8F8F9 !important ;
}

.sr-bb .srt-stroke-home-2 {
  stroke: #F8F8F9 !important ;
}

.sr-bb .srt-fill-home-3 {
  fill: #F8F8F9 !important ;
}

.sr-bb .srt-stroke-home-3 {
  stroke: #F8F8F9 !important ;
}

.sr-bb .srt-fill-home-4 {
  fill: #b3b3b4 !important ;
}

.sr-bb .srt-stroke-home-4 {
  stroke: #b3b3b4 !important ;
}

.sr-bb .srt-fill-home-5 {
  fill: #fafafb !important ;
}

.sr-bb .srt-stroke-home-5 {
  stroke: #fafafb !important ;
}

.sr-bb .srt-fill-away-1 {
  fill: #ff0000 !important ;
}

.sr-bb .srt-stroke-away-1 {
  stroke: #ff0000 !important ;
}

.sr-bb .srt-fill-away-2 {
  fill: #ff0000 !important ;
}

.sr-bb .srt-stroke-away-2 {
  stroke: #ff0000 !important ;
}

.sr-bb .srt-fill-away-3 {
  fill: #ff0000 !important ;
}

.sr-bb .srt-stroke-away-3 {
  stroke: #ff0000 !important ;
}

.sr-bb .srt-fill-away-4 {
  fill: #b80606 !important ;
}

.sr-bb .srt-stroke-away-4 {
  stroke: #b80606 !important ;
}

.sr-bb .srt-fill-away-5 {
  fill: #ff5959 !important ;
}

.sr-bb .srt-stroke-away-5 {
  stroke: #ff5959 !important ;
}

.sr-bb .srt-fill-neutral-1 {
  fill: #323232 !important ;
}

.sr-bb .srt-stroke-neutral-1 {
  stroke: #323232 !important ;
}

.sr-bb .srt-fill-neutral-2 {
  fill: #e7e7e7 !important ;
}

.sr-bb .srt-stroke-neutral-2 {
  stroke: #e7e7e7 !important ;
}

.sr-bb .srt-fill-neutral-3 {
  fill: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-stroke-neutral-3 {
  stroke: rgba(255, 255, 255, 0.12) !important ;
}

.sr-bb .srt-fill-neutral-4 {
  fill: #acacac !important ;
}

.sr-bb .srt-stroke-neutral-4 {
  stroke: #acacac !important ;
}

.sr-bb .srt-fill-neutral-5 {
  fill: #c4c4c4 !important ;
}

.sr-bb .srt-stroke-neutral-5 {
  stroke: #c4c4c4 !important ;
}

.sr-bb .srt-fill-neutral-6 {
  fill: #4c4c4c !important ;
}

.sr-bb .srt-stroke-neutral-6 {
  stroke: #4c4c4c !important ;
}

.sr-bb .srt-fill-neutral-7 {
  fill: #acacac !important ;
}

.sr-bb .srt-stroke-neutral-7 {
  stroke: #acacac !important ;
}

.sr-bb .srt-fill-neutral-8 {
  fill: #323232 !important ;
}

.sr-bb .srt-stroke-neutral-8 {
  stroke: #323232 !important ;
}

.sr-bb .srt-fill-neutral-9 {
  fill: #212121 !important ;
}

.sr-bb .srt-stroke-neutral-9 {
  stroke: #212121 !important ;
}

.sr-bb .srt-fill-neutral-10 {
  fill: #2f2f2f !important ;
}

.sr-bb .srt-stroke-neutral-10 {
  stroke: #2f2f2f !important ;
}

.sr-bb .srt-fill-neutral-11 {
  fill: #717171 !important ;
}

.sr-bb .srt-stroke-neutral-11 {
  stroke: #717171 !important ;
}

.sr-bb .srt-fill-neutral-12 {
  fill: #b8b8b8 !important ;
}

.sr-bb .srt-stroke-neutral-12 {
  stroke: #b8b8b8 !important ;
}

.sr-bb .srt-fill-neutral-13 {
  fill: #2b2b2b !important ;
}

.sr-bb .srt-stroke-neutral-13 {
  stroke: #2b2b2b !important ;
}

.sr-bb .srt-fill-win {
  fill: #F8F8F9 !important ;
}

.sr-bb .srt-stroke-win {
  stroke: #F8F8F9 !important ;
}

.sr-bb .srt-fill-draw {
  fill: rgba(255, 255, 255, 0.4) !important ;
}

.sr-bb .srt-stroke-draw {
  stroke: rgba(255, 255, 255, 0.4) !important ;
}

.sr-bb .srt-fill-lose {
  fill: #ff0000 !important ;
}

.sr-bb .srt-stroke-lose {
  stroke: #ff0000 !important ;
}

.sr-bb .srt-stop-base-1 {
  stop-color: transparent !important ;
}

.sr-bb .srt-stop-primary-1 {
  stop-color: #F7BD2A !important ;
}

.sr-bb .srt-stop-primary-2 {
  stop-color: #f9d16a !important ;
}

.sr-bb .srt-stop-primary-3 {
  stop-color: #deaa26 !important ;
}

.sr-bb .srt-stop-primary-4 {
  stop-color: #9c7921 !important ;
}

.sr-bb .srt-stop-primary-5 {
  stop-color: #9c7921 !important ;
}

.sr-bb .srt-stop-primary-6 {
  stop-color: #fad983 !important ;
}

.sr-bb .srt-stop-primary-7 {
  stop-color: #F7BD2A !important ;
}

.sr-bb .srt-stop-primary-8 {
  stop-color: #F7BD2A !important ;
}

.sr-bb .srt-stop-primary-9 {
  stop-color: #57461a !important ;
}

.sr-bb .srt-stop-primary-10 {
  stop-color: #c99b25 !important ;
}

.sr-bb .srt-stop-primary-11 {
  stop-color: #deaa26 !important ;
}

.sr-bb .srt-stop-primary-12 {
  stop-color: #F7BD2A !important ;
}

.sr-bb .srt-stop-home-1 {
  stop-color: #F8F8F9 !important ;
}

.sr-bb .srt-stop-away-1 {
  stop-color: #ff0000 !important ;
}

.sr-bb .srt-fill-neutral-14 {
  fill: #131313 !important ;
}

.sr-bb .srt-stroke-neutral-14 {
  stroke: #131313 !important ;
}

.sr-bb .srt-logo-powered-by-light {
  display: none !important ;
}

.sr-bb .srt-logo-powered-by-dark {
  display: inline-block !important ;
}
.sr-bb .sr-poweredby__link {
  display: none !important;
}